<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Flask App</title>

</head>

<body>

    <h1>Flask App</h1>

    <form method="POST">

        <label for="feat1">Feature 1:</label>

        <input type="text" id="feat1" name="feat1"><br><br>

       

        <label for="feat2">Feature 2:</label>

        <input type="text" id="feat2" name="feat2"><br><br>

       

        <label for="feat3">Feature 3:</label>

        <input type="text" id="feat3" name="feat3"><br><br>

       

        <label for="feat4">Feature 4:</label>

        <input type="text" id="feat4" name="feat4"><br><br>

       

        <label for="feat5">Feature 5:</label>

        <input type="text" id="feat5" name="feat5"><br><br>

       

        <label for="feat6">Feature 6:</label>

        <input type="text" id="feat6" name="feat6"><br><br>

       

        <label for="feat7">Feature 7:</label>

        <input type="text" id="feat7" name="feat7"><br><br>

               

                <label for="feat8">Feature 8:</label>

                <input type="text" id="feat8" name="feat8"><br><br>

   

                <input type="submit" value="Submit">

    </form>

    <br>

    <h2>Result:</h2>

    <p>{{ result }}</p>

</body>

</html>